.a{
    background-color: coral;
    text-align: center;
    width: 900px;
}
.b{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    width: 900px;
    text-align: center;
}
.q{
    color: yellow;
}
.h{
    color: yellow;
}
.e{
    border-radius: 10px;
    
}
.t{
    border-radius: 10px;
}
.p{
    color: yellow;
}
.r{
    border-radius: 10px;
}.z{
    border-radius: 10px;
}
.w{
    color: yellow;
}
.o{
    color: yellow;
}
.k{
    border-radius: 10px;
}
.u{
    width: 200px;
    background-color: green;
    color: aliceblue;
    border-radius: 10px;
}








